body {
	background-color: whitesmoke;
	text-align: center;
	background-image: url('chr2.jpg');
	height: 200px;
}

h1 {
	color: black;
	font-family: verdana;
}

p {
	color: black;
	font-family: helvetica;
	padding: 35px;
}

img {

}