body {
	background-color: whitesmoke;
	text-align: center;
	background-image: url('chr3.jpg');
	background-size: 250px;
}

h1 {
	color: black;
	font-family: verdana;
}

p {
	color: black;
	font-family: helvetica;
	padding: 35px;
}

img {

}